# Prerequisites
*.d
*.bak
*.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vi swap file
*.swp

# Inventor Archive
CAD/OldVersions/
CAD/*/OldVersions/
CAD/*/*/OldVersions/
CAD/*/*/*/OldVersions/
CAD/*/*/*/*/OldVersions/


# Eagle archive and project files
hardware/*/*.b#*
hardware/*/*.s#*
hardware/libs/*.l#*
hardware/*/*.pro*

*.bak
*.swp
~$*.*
*.b#
*.l#


# compiled folders
code/controller/build/
code/controller/install/
code/controller/src/CMakeFiles/
code/controller/src/Makefile
code/controller/src/*.cmake
code/controller/src/CMakeCache.txt

code/mainboard/build/
code/mainboard/install/
code/mainboard/controller/CMakeFiles/
code/mainboard/controller/Makefile
code/mainboard/controller/*.cmake
code/mainboard/controller/CMakeCache.txt
code/mainboard/.settings/
software/PC/dataset*/*
software/PC/tflite-env/
software/PC/trained_model/
software/PC/optimised_dataset/back/back_aug_0040.wav
software/PC/optimised_dataset/
software/model/dataset/background/Bach.mp3
software/model/dataset/
software/PC/pageturner/
software/PC/venv/
software/uC/lib/ei_arduino_library/edge-impulse-sdk/
software/uC/lib/ei_arduino_library/model-parameters/
software/uC/lib/ei_arduino_library/tflite-model/
software/uC/lib/ei_arduino_library/PageTurner_inferencing.h
software/PC/ei_cpp_library/
software/PC/__pycache__/
software/Arduino/libraries/
software - Copy/
software/optimised_trainingdata/
software/trainingdata/
software/dataset/
software/trainingdataset/
software/model/model.tflite
software/feather/lib/ei_arduino_library/
software/PC/tt/
