tensorflow==2.6.0
tflite-model-maker==0.3.4
tensorflow-hub==0.12.0
tensorflow-datasets==4.5.2
tensorflow-model-optimization==0.5.0
tflite-support==0.3.1
scipy==1.7.3
numpy==1.19.5
librosa==0.8.1
flatbuffers==1.12
soundfile==0.10.3.post1
matplotlib==3.4.3
pyserial==3.5
tensorflow-addons==0.15.0
pydub==0.25.1

